<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Set proper MIME types -->
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            
            <!-- Enable compression -->
            <httpCompression>
                <scheme name="gzip" dll="%ProgramFiles%\IIS\IIS Compression\gzip.dll" />
                <dynamicTypes>
                    <add mimeType="text/*" enabled="true" />
                    <add mimeType="application/javascript" enabled="true" />
                    <add mimeType="application/x-javascript" enabled="true" />
                    <add mimeType="application/json" enabled="true" />
                    <add mimeType="application/xml" enabled="true" />
                    <add mimeType="application/rss+xml" enabled="true" />
                    <add mimeType="application/atom+xml" enabled="true" />
                    <add mimeType="image/svg+xml" enabled="true" />
                    <add mimeType="application/font-woff" enabled="true" />
                    <add mimeType="application/font-woff2" enabled="true" />
                    <add mimeType="application/vnd.ms-fontobject" enabled="true" />
                    <add mimeType="application/x-font-ttf" enabled="true" />
                    <add mimeType="font/opentype" enabled="true" />
                    <add mimeType="font/ttf" enabled="true" />
                    <add mimeType="font/otf" enabled="true" />
                    <add mimeType="font/woff" enabled="true" />
                    <add mimeType="font/woff2" enabled="true" />
                </dynamicTypes>
                <staticTypes>
                    <add mimeType="text/*" enabled="true" />
                    <add mimeType="application/javascript" enabled="true" />
                    <add mimeType="application/x-javascript" enabled="true" />
                    <add mimeType="application/json" enabled="true" />
                    <add mimeType="application/xml" enabled="true" />
                    <add mimeType="application/rss+xml" enabled="true" />
                    <add mimeType="application/atom+xml" enabled="true" />
                    <add mimeType="image/svg+xml" enabled="true" />
                    <add mimeType="application/font-woff" enabled="true" />
                    <add mimeType="application/font-woff2" enabled="true" />
                    <add mimeType="application/vnd.ms-fontobject" enabled="true" />
                    <add mimeType="application/x-font-ttf" enabled="true" />
                    <add mimeType="font/opentype" enabled="true" />
                    <add mimeType="font/ttf" enabled="true" />
                    <add mimeType="font/otf" enabled="true" />
                    <add mimeType="font/woff" enabled="true" />
                    <add mimeType="font/woff2" enabled="true" />
                </staticTypes>
            </httpCompression>
            <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <!-- Security Headers -->
                <remove name="X-Powered-By" />
                <remove name="X-XSS-Protection" />
                <remove name="X-Frame-Options" />
                <add name="Content-Security-Policy" value="frame-ancestors 'self'" />
                
                <!-- Cache Control -->
                <add name="Cache-Control" value="public, max-age=31536000, immutable" />
                <remove name="Pragma" />
                <remove name="Expires" />
                
                <!-- Character Set -->
                <add name="Content-Type" value="text/html; charset=utf-8" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Disable directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Set default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    
    <!-- Set default charset -->
    <system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
</configuration>
